
<div class="create">
  <a href="#creation"><h1 class="btn btn-primary" >Create of Cocktail</h1></a>

</div>


<div class="container">
  <div class="cards">

     <% @cocktails.each do |cocktail| %>
      <div class="card">
        <div class="name"><%= cocktail.name %></div>

        <div class="infos">
          <% cocktail.doses.each do |dose| %>
            <p><%= dose.description %> de <%= dose.ingredient.name %></p>
          <% end %>
        </div>

        <div class="option">
          <%= link_to 'add a dose', new_cocktail_dose_path(cocktail) %>
          <%= link_to "delete", cocktail, method: :delete, data: { confirm: 'Are you sure?' }  %>
        </div>


      </div>
    <% end %>
  </div>

  <div id="creation">
    <div>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.input :name %>
        </div>
        <div class="form-inputs">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="center">
          <div class="form-actions btn btn-primary">
            <%= f.button :submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

